footer {
    background-color: rgb(211, 98, 164);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.obsah {
    background-color: rgb(212, 146, 209);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

iframe {
    background-color: rgb(212,  146, 209);
    margin-left: 100px;
}